*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;

}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#fff3e6;

}

.container{

width:900px;

height:90vh;

background:white;

border-radius:20px;

overflow:hidden;

display:flex;

flex-direction:column;

box-shadow:0 0 20px rgba(0,0,0,.1);

}

.header{

background:#ff6b00;

color:white;

padding:20px;

font-size:30px;

font-weight:bold;

text-align:center;

}

.chat-box{

flex:1;

padding:20px;

overflow-y:auto;

display:flex;

flex-direction:column;

gap:15px;

background:#fffaf5;

}

.bot-message{

align-self:flex-start;

background:white;

border-left:4px solid #ff6b00;

padding:15px;

border-radius:15px;

max-width:75%;

line-height:1.5;

box-shadow:0 3px 10px rgba(0,0,0,.1);

}

.user-message{

align-self:flex-end;

background:#ff6b00;

color:white;

padding:15px;

border-radius:15px;

max-width:75%;

line-height:1.5;

}

.input-area{

display:flex;

padding:15px;

gap:10px;

background:white;

}

input{

flex:1;

padding:15px;

font-size:16px;

border:2px solid #ff6b00;

border-radius:10px;

outline:none;

}

button{

width:120px;

background:#ff6b00;

border:none;

color:white;

border-radius:10px;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#e55f00;

}

.typing{

display:flex;

gap:5px;

padding:5px;

}

.typing span{

width:8px;

height:8px;

background:#ff6b00;

border-radius:50%;

animation:blink 1s infinite;

}

.typing span:nth-child(2){

animation-delay:.2s;

}

.typing span:nth-child(3){

animation-delay:.4s;

}

@keyframes blink{

0%{opacity:.3;}

50%{opacity:1;}

100%{opacity:.3;}

}